global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "localhost:9090"

  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - 'localhost:9100'
{% for host in node_exporter_targets | default([]) %}
          - '{{ host }}:9100'
{% endfor %}

{% if blackbox_http_targets | default([]) | length > 0 %}

  - job_name: 'blackbox_http'
    metrics_path: /probe
    params:
      module: [http_2xx_actuator]
    static_configs:
      - targets:
{% for target in blackbox_http_targets %}
          - '{{ target }}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115
{% endif %}
